.dashboard-container {
  font-family: 'Roboto', sans-serif;
  background: #f4f7fa;
  min-height: 100vh;
}

.close-button {
  position: absolute;
  top: 9rem;
  right: 11rem;
  background-color: #ec4899;
  color: #ffffff;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.tiles-more-section {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}