<!-- navigation.component.html -->
<mat-toolbar color="primary" class="mat-elevation-z2 nav-toolbar">
  <button
    class="menu-button"
    mat-button
    [matMenuTriggerFor]="menu"
    [ngClass]="{ active: isMobileMenuOpen }"
    (click)="toggleMobileMenu()"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
  <mat-menu #menu="matMenu" >
    <button style="background-color: white;"
      mat-menu-item
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      (click)="toggleMobileMenu()"
    >
      {{ item.label }}
    </button>
  </mat-menu>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <span class="app-title">Baxter-MAM Soup Testing </span>
  <span class="spacer"></span>
  <!-- Language Dropdown -->
  <mat-form-field appearance="fill" class="lang-select">
  <mat-label>Language</mat-label>
  <mat-select (selectionChange)="switchLanguage($event.value)">
  <mat-option value="en">English</mat-option>
  <mat-option value="Fr">Francis</mat-option>
  </mat-select>
  </mat-form-field>
  <!-- Avatar + Menu -->
  <button mat-button [matMenuTriggerFor]="userMenu" class="avatar-button">
  <div class="avatar">{{ username.charAt(0).toUpperCase() }}</div>
  </button>
  <mat-menu #userMenu="matMenu" >
  <div class="user-info py-0 px-4">
  <p><strong>Name:</strong> {{ username }}</p>
  <p><strong>Email:</strong> {{ email }}</p>
  </div>
  <button mat-menu-item (click)="logout()">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
  </button>
  </mat-menu>
  </mat-toolbar>
